html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
body {
  background-color: #d4d3b7;
}

@media (min-width: 786px) {
  header {
    font-size: 24px;
  }
  .navbar {
    background-color: #e6d901;
    display: flex;
    max-height: 20rem;
    padding: 2rem;
    justify-content: space-evenly;
  }
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: blue;
  }
}

@media (min-width: 1200px) {
header{
    font-size:32px;
}
}

